In [13]:
import pandas as pd
import datetime as dt

In [5]:
df=pd.read_csv("cleaneddata.csv")

Check missing values

In [7]:
df.isnull().sum()

Unnamed: 0     0
InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [8]:
df.shape

(397924, 9)

Get total price

In [9]:
df["TotalPrice"]=df["Quantity"]*df['UnitPrice']

Get the rfmTable

In [10]:
df['InvoiceDate'].min()

'2010-12-01 08:26:00'

In [11]:
df['InvoiceDate'].max()

'2011-12-09 12:50:00'

In [14]:
# the last day is 2011-12-09, so we will use 2011-12-10 to calculate recency

NOW = dt.datetime(2011,12,10)
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'])

In [18]:
rfmTable = df.groupby('CustomerID').agg({'InvoiceDate': lambda x: (NOW - x.max()).days, 'InvoiceNo': lambda x: len(x), 'TotalPrice': lambda x: x.sum()})

In [20]:
rfmTable['InvoiceDate'] = rfmTable['InvoiceDate'].astype(int)
rfmTable.rename(columns={'InvoiceDate': 'recency', 
                         'InvoiceNo': 'frequency', 
                         'TotalPrice': 'monetary_value'}, inplace=True)

In [22]:
rfmTable.head()

            recency  frequency  monetary_value
CustomerID
12346.0         325          1        77183.60
12347.0           2        182         4310.00
12348.0          75         31         1797.24
12349.0          18         73         1757.55
12350.0         310         17          334.40

Split the metrics

In [24]:
quantiles = rfmTable.quantile(q=[0.25,0.5,0.75])
quantiles = quantiles.to_dict()
segmented_rfm = rfmTable

In [25]:
def RScore(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4
    
def FMScore(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1

In [26]:
segmented_rfm['r_quartile'] = segmented_rfm['recency'].apply(RScore, args=('recency',quantiles,))
segmented_rfm['f_quartile'] = segmented_rfm['frequency'].apply(FMScore, args=('frequency',quantiles,))
segmented_rfm['m_quartile'] = segmented_rfm['monetary_value'].apply(FMScore, args=('monetary_value',quantiles,))
segmented_rfm.head()

,recency,frequency,monetary_value,r_quartile,f_quartile,m_quartile
CustomerID,,,,,,
12346.0,325,1,77183.60,4,4,1
12347.0,2,182,4310.00,1,1,1
12348.0,75,31,1797.24,3,3,1
12349.0,18,73,1757.55,2,2,1
12350.0,310,17,334.40,4,4,3

Get the RFMScore

In [29]:
segmented_rfm['RFMScore'] = segmented_rfm.r_quartile.map(str)  + segmented_rfm.f_quartile.map(str)  + segmented_rfm.m_quartile.map(str)
segmented_rfm.head()

,recency,frequency,monetary_value,r_quartile,f_quartile,m_quartile,RFMScore
CustomerID,,,,,,,
12346.0,325,1,77183.60,4,4,1,441
12347.0,2,182,4310.00,1,1,1,111
12348.0,75,31,1797.24,3,3,1,331
12349.0,18,73,1757.55,2,2,1,221
12350.0,310,17,334.40,4,4,3,443

Get the best customers

In [31]:
segmented_rfm[segmented_rfm['RFMScore']=='111'].sort_values('monetary_value', ascending=False)

,recency,frequency,monetary_value,r_quartile,f_quartile,m_quartile,RFMScore
CustomerID,,,,,,,
14646.0,1,2080,280206.02,1,1,1,111
18102.0,0,431,259657.30,1,1,1,111
17450.0,8,337,194550.79,1,1,1,111
14911.0,1,5677,143825.06,1,1,1,111
14156.0,9,1400,117379.63,1,1,1,111
17511.0,2,963,91062.38,1,1,1,111
16684.0,4,277,66653.56,1,1,1,111
14096.0,4,5111,65164.79,1,1,1,111
13694.0,3,568,65039.62,1,1,1,111
15311.0,0,2379,60767.90,1,1,1,111
13089.0,2,1818,58825.83,1,1,1,111
15769.0,7,130,56252.72,1,1,1,111
15061.0,3,403,54534.14,1,1,1,111
14298.0,8,1637,51527.30,1,1,1,111
14088.0,10,589,50491.81,1,1,1,111
17841.0,1,7847,40991.57,1,1,1,111
13798.0,1,349,37153.85,1,1,1,111
16013.0,3,139,37130.60,1,1,1,111
16422.0,17,369,34684.40,1,1,1,111
12748.0,0,4596,33719.73,1,1,1,111
15838.0,11,167,33643.08,1,1,1,111
17404.0,4,198,31906.82,1,1,1,111
17389.0,0,213,31833.68,1,1,1,111
13098.0,1,572,28882.44,1,1,1,111
13081.0,11,1028,28337.38,1,1,1,111
13408.0,1,478,28117.04,1,1,1,111
13777.0,0,197,25977.16,1,1,1,111
16210.0,1,123,21086.30,1,1,1,111
17675.0,1,705,20374.28,1,1,1,111
17381.0,8,109,20275.61,1,1,1,111
...,...,...,...,...,...,...,...
16983.0,12,148,1931.25,1,1,1,111
16942.0,12,281,1920.59,1,1,1,111
15021.0,8,472,1914.82,1,1,1,111
16426.0,2,372,1908.25,1,1,1,111
17228.0,15,208,1906.09,1,1,1,111
14250.0,7,111,1904.05,1,1,1,111
17463.0,16,215,1896.41,1,1,1,111
17870.0,2,279,1894.35,1,1,1,111
13890.0,1,110,1883.81,1,1,1,111
17293.0,8,135,1875.11,1,1,1,111
16474.0,7,360,1871.50,1,1,1,111
16201.0,3,111,1863.47,1,1,1,111
12423.0,0,125,1859.31,1,1,1,111
18180.0,4,119,1843.75,1,1,1,111
13924.0,1,117,1838.85,1,1,1,111
13048.0,14,136,1835.91,1,1,1,111
18122.0,8,364,1826.21,1,1,1,111
17705.0,3,103,1823.52,1,1,1,111
17629.0,5,123,1814.12,1,1,1,111
13196.0,11,110,1797.78,1,1,1,111
17750.0,5,193,1797.57,1,1,1,111
13510.0,1,115,1791.56,1,1,1,111
16719.0,14,201,1790.42,1,1,1,111
14215.0,11,108,1789.72,1,1,1,111
15594.0,15,103,1771.78,1,1,1,111
17813.0,14,371,1770.88,1,1,1,111
13184.0,14,181,1701.29,1,1,1,111
16775.0,10,158,1695.66,1,1,1,111
16813.0,8,449,1692.98,1,1,1,111
16115.0,9,284,1667.97,1,1,1,111